@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #a855f7;
  --primary-color-dark: #9333ea;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}


.section {
  max-width: var(--max-width);
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.section h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.section h2 {
  font-size: 20px;
  margin-top: 20px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.image-container img {
  max-width: 30%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  justify-content: center;
}

.youtube-links {
  list-style: none;
  margin-top: 20px;
  padding: 0;
}

.youtube-links li {
  font-size: 18px;
  margin: 10px 0;
}

.youtube-links a {
  text-decoration: none;
  color: #0077B5; /* YouTube link color */
}

.youtube-links a:hover {
  text-decoration: underline;
}
